.page-title-block > h1{
    background-image: linear-gradient(90deg, var(--white) 0px, var(--white) 56px, var(--blue) 56px);
    margin-left: -56px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

.contact-validation{
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 30px;
    background-color: var(--blue);
    border-radius: 2px;
    font-size: 14px;
    color: var(--white);
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.contact-validation > svg{
    height: 14px;
    fill: var(--white);
    margin-left: 5px;
}

@media only screen and (max-width: 450px) {
    .grid{
        grid-template-columns: 100%;
    }
}