.page-title-block > h1{
    background-image: linear-gradient(90deg, var(--white) 0px, var(--white) 53px, var(--blue) 53px);
    margin-left: -53px;
}

.table-summary{
    background-color: var(--orange) !important;
    font-weight: bolder;
    text-align: left !important;
}

.table-summary > h5{
    font-size: 14px;
}

.orange-text{
    color: var(--orange) !important;
}